.drink-container {
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drink-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .drink-container {
        padding: 15px;
        margin: 20px;
    }
}